
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato";
    background-color: #fcfcfb;
    color: #1a1a1c;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 40px;
    flex-wrap: wrap;
    padding-left: 50px ;
    padding-right: 50px;
}

.left-contents {
    margin-top: 20px; 
}

.right-contents h2 {
    margin-bottom: 0; 
}

.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .left-contents {
        margin-top: 10px; 
    }

    ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}


.introduction {
    padding: 80px;
    background-color: #b7aa9f;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fcfcfb;
}
.introduction .right-content {
    max-width: 500px;
}

.introduction .left-content {
    text-align: center;
}

.introduction .left-content img {
    height: auto;
    width: auto;
    max-height: 100px;
    max-width: 100px;
}

a{
    color: inherit;
    text-decoration: inherit;
}

.profil h2{
    padding-top: 20px;
}

.profil {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 90px;
}

.profil .a.propos {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    gap: 10px;
}


.parcours {
    padding-top: 25px;
    font-size: 21px;
    font-weight: 700;
}

.parcours h3 {
    padding-bottom: 10px;
}

.formation {
    display: flex;
    gap: 5px;
}

.circle {
    width: 15px;
    height: 15px;
    border:  3px solid #b7aa9f;
    border-radius: 50%;
    align-self: flex-start;
}

.parcours .information {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.vl {
    margin-left: 7px;
    width: 3px;
    background-color: #dfd3cb;
    height: 150px;
}

.titre {
    font-style: italic;
    font-weight: 400;
}

.competences{
    margin-top: 50px;
    margin-bottom: 50px;
}

.competences-techniques .contenu, .competences-humaines .contenu{
    max-width: 500px;
}

.competences-techniques, .competences-humaines{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}


.competences .contenaires{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}
.competences .contenaires .information{
    text-align: center;
}

.competences .contenaires img{
    height: 80px;
    width: 80px;
}

.competences .grille-competences{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.grille-competences{
    margin-top: 25px;
}
.grille-competences iframe{
    flex-shrink: 1;
    max-width: 100%;
}

.cv{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-bottom: 50px;
}


.cv iframe{
    flex-shrink: 1;
    max-width: 100%;
}

.certifications{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-bottom: 50px;
}

.certifications img{
    flex-shrink: 1;
    max-width: 100%;
}

.bts-sio{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.bts-sio .intro{
    align-self: flex-start;
    margin-left: 90px;
}

.bts-sio .intro h2{
    padding-bottom: 15px;
}

.bts-sio .intro p{
    max-width: 800px;
}

.bts-sio .contenu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.bts-sio .contenu p{
    max-width: 500px;
}

.bts-sio .contenu ul{
    padding-left: 75px;
}

.slam, .sisr{
    border:  3px solid #1a1a1c;
    background-color: #dfd3cb;
    color: #fcfcfb;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.stages{
    margin-left: 90px;
}

.stages h3{
    padding-bottom: 20px;
}

.stages .information {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.stages {
    margin-top: 50px;
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 50px;
}

.projets{
    margin-left: 90px;
    margin-bottom: 50px;
}

.projets .contenaires img{
    height: 300px;
    width: 500px;
    border-radius: 10px;
}

.projets .contenaires p{
    max-width: 500px;
}

.projets .contenu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.veilles-technologiques{
    margin-left: 90px;
}

.veilles-technologiques .contenu{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 50px;
}

.veilles-technologiques .contenu p{
    max-width: 800px;
}